<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.10.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
  <title>Galavant</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'galavantapp/css/main.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>

    <div class="bgd_image">
        <img src="{% static 'galavantapp/img/half_dome.png' %}" style="height:100%;width:100%;">
    </div>
            <div id="trail">
                <div id="trail-info-head">
                    <h1>Half Dome</h1>
                    <h4>Yosemite National Park, California</h4>
                    <p><strong>Difficulty:</strong> Advanced | <strong>Length:</strong> 14.6 miles</p>

                    <hr>
                </div>
                <div id="trail-info-body">
                    <p>Half Dome is a serious endurance hike taking you 4800 feet above the Yosemite Valley to spectacular views of Vernal and Nevada Falls, Liberty Cap, Half Dome, and panoramic views of Yosemite Valley and the High Sierra.
                    <p>Preparation and safety are key and you'll have a fantastic experience. This is a hike that requires you to be in shape.  Most take 10 to 12 hours to hike to Half Dome and back depending on the routes up and down. Plan to leave around sunrise (or earlier) and then have a non-negotiable turn-around time. The trail is fairly well marked but make sure you watch for all trail signs as you can miss them.</p>
                    <p>The 4800 feet of elevation gain is very strenuous, starting with steep climb in the beginning to Vernal Falls (1.5m, 2.4km), followed by another steep climb to the top of Nevada Falls (3.4m, 5.5km). After the second waterfall, there is about 1 mile of fairly level hiking until you reach Little Yosemite Campground, followed by steep switchbacks through the forest. At about 7 miles (11.2km) you will reach a break in the trees, with a beautiful view of the side of Half dome with the valley below. After some steep switchbacks carved like stairs into the rock, you will reach Half Dome with only 400 feet to go. These last 400 feet are the most challenging, but also the most rewarding (although you may not realize it until you are comfortably back on the valley floor).</p>
                    <p>The famous part of the hike is the ascent up the cables. The two metal cables allow hikers to climb the last 400 feet to the summit without rock climbing equipment.  The cables are around a 45-55 degree grade, with wooden supports every 10 to 20 feet to rest and maintain your balance. Using gloves is highly recommended to get a better grip and avoid painful blisters (there is usually a large pile of gloves at the base that you can borrow for the climb up, but you might want to bring your own just in case). Be sure to tightly secure your water bottles and cameras for the climb up, because you will want them once at the top. The Half Dome cables usually go up the Friday before Memorial Day (conditions permitting) and come down the day after Columbus Day.</p>
                    <p>Compared to the hike up, the return journey flies by and before you know it you will be back at the top of Nevada falls. You have 2 options here: the Mist Trail, which is how you came up is about 3.4 miles (5.5km), or the John Muir Trail for a slight change of scenery (about 0.5 miles further). The waterfalls suddenly seem much more pleasant as you hike down compared to earlier uphill climb, and it's hard to hold back a smile as you reach the Vernal Falls bridge where you can refill your water (there are also facilities here). About 30 minutes later you are back at the trail head where you can catch a free shuttle to your car or anywhere else in the valley (there is a concession stand near the bus stop where you can buy cold drinks and ice cream).</p>
                </br>
                    <h4><strong>Native Wildlife:</strong></h4>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="https://en.wikipedia.org/wiki/Mule_deer">
                                    <img src="{% static 'galavantapp/img/mule_deer.jpg' %}" alt="Mule Deer" style="width:100%">
                                    <div class="Mule Deer">
                                        <h4>Mule Deer</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <a href="https://en.wikipedia.org/wiki/Bobcat">
                                <img src="{% static 'galavantapp/img/bobcat.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                    <h4>Bobcat</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </br>
                    <h4><strong>Photos:</strong></h4>
                    <div class="col-lg-4">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="">
                                    <img src="{% static 'galavantapp/img/half_dome1.jpg' %}" alt="Mule Deer" style="width:100%">
                                    <div class="Mule Deer">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'galavantapp/img/half_dome2.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="https://en.wikipedia.org/wiki/Bobcat">
                                <img src="{% static 'galavantapp/img/half_dome3.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="">
                                    <img src="{% static 'galavantapp/img/half_dome4.jpg' %}" alt="Mule Deer" style="width:100%">
                                    <div class="Mule Deer">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'galavantapp/img/half_dome5.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="https://en.wikipedia.org/wiki/Bobcat">
                                <img src="{% static 'galavantapp/img/half_dome6.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="box">
                            <div class="thumbnail">
                                <a href="">
                                    <img src="{% static 'galavantapp/img/half_dome7.jpg' %}" alt="Mule Deer" style="width:100%">
                                    <div class="Mule Deer">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="">
                                <img src="{% static 'galavantapp/img/half_dome8.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <a href="https://en.wikipedia.org/wiki/Bobcat">
                                <img src="{% static 'galavantapp/img/half_dome9.jpg' %}" alt="Bobcat" style="width:100%">
                                <div class="Bobcat">
                                </div>
                            </a>
                        </div>
                    </div>
                </br>
            </br>
        </br>

                    </br>
                    <iframe
                      width="100%"
                      height="500"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDGJcoeA05RZ4WGu_pPJDPCHbfStF0ezeI&q=half_dome" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
