<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.10.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
  <title>Galavant</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'galavantapp/css/main.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>


    <div class="jumbotron text-center vertical-center">
      <img src="{% static 'galavantapp/img/jumbotron_logo.png' %}" alt="Logo">
      <h2>Discover great hiking trails</h2>
    </div>
    <script>
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
    }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                            <img src="{% static 'galavantapp/img/yosemite_falls.png' %}" alt="Lights" style="width:100%">
                            <div class="caption">
                                <h4>Yosemite Falls</h4>
                                <p>34 Favorites</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="thumbnail">
                        <a href="/half_dome">
                            <img src="{% static 'galavantapp/img/half_dome.png' %}" alt="Nature" style="width:100%">
                            <div class="caption">
                                <h4>Half Dome</h4>
                                <p>12 Favorites</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <div class="thumbnail">
                        <a href="/w3images/fjords.jpg">
                            <img src="{% static 'galavantapp/img/bridal_veil_falls.png' %}" alt="Nature" style="width:100%">
                            <div class="caption">
                               <h4>Bridal Veil Falls</h4>
                               <p>4 Favorites</p>
                           </div>
                        </a>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">
               <div class="box">
                   <div class="thumbnail">
                       <a href="/w3images/fjords.jpg">
                           <img src="{% static 'galavantapp/img/sentinel_dome.png' %}" alt="Nature" style="width:100%">
                         <div class="caption">
                             <h4>Sentinel Dome</h4>
                             <p>54 Favorites</p>
                         </div>
                       </a>
                     </div>
                 </div>
                <div class="box">
                    <div class="thumbnail">
                       <a href="/w3images/fjords.jpg">
                           <img src="{% static 'galavantapp/img/tuolome_meadows.png' %}" alt="Tuolome Meadows" style="width:100%">
                           <div class="caption">
                             <h4>Tuolome Meadows</h4>
                             <p>54 Favorites</p>
                            </div>
                       </a>
                     </div>
                 </div>
                 <div class="box">
                     <div class="thumbnail">
                       <a href="/w3images/fjords.jpg">
                           <img src="{% static 'galavantapp/img/vernal_fall.png' %}" alt="Vernal Fall" style="width:100%">
                           <div class="caption">
                             <h4>Vernal Falls</h4>
                             <p>89 Favorites</p>
                         </div>
                       </a>
                     </div>
                 </div>
             </div>
            <div class="col-lg-4">
                <div class="box">
                    <div class="thumbnail">
                       <a href="/w3images/fjords.jpg">
                           <img src="{% static 'galavantapp/img/john_muir_trail.png' %}" alt="John Muir Trail" style="width:100%">
                           <div class="caption">
                             <h4>John Muir Trail</h4>
                             <p>89 Favorites</p>
                         </div>
                       </a>
                    </div>
                </div>
                <div class="box">
                    <div class="thumbnail">
                       <a href="/w3images/fjords.jpg">
                           <img src="{% static 'galavantapp/img/mono_lake.png' %}" alt="Mono Lake" style="width:100%">
                           <div class="caption">
                             <h4>Mono Lake</h4>
                             <p>45 Favorites</p>
                         </div>
                       </a>
                    </div>
                </div>
                <div class="box">
                    <div class="thumbnail">
                       <a href="/w3images/fjords.jpg">
                           <img src="{% static 'galavantapp/img/valley_loop.png' %}" alt="Mono Lake" style="width:100%">
                           <div class="caption">
                             <h4>Valley Loop Trail</h4>
                             <p>89 Favorites</p>
                         </div>
                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for x in myarray %}
            <div class="col-lg-4">
                <div class="box">
                    <div class="thumbnail">
                       <a href="/trail/{{x.unique_id}}">
                           <div class="caption">
                             <h4>{{x.name}}</h4>
                             <p>{{x.city}}, {{x.state}}</p>
                         </div>
                       </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
