{% load staticfiles %}

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: #f5ebe6;
}
html {
  width: 100%;
  height: 100%;
}
h2{
    color:white;
    text-align:center;
}
.navbar-header{
    height:66px;
    position:absolute;
}
.jumbotron{
    background-image: url("../img/jumbotron.png");
    background-size: cover;
    width:100%;
    background-repeat: no-repeat;
    z-index:0;

}
.jumbotron h2{
    color:white;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:20%;
    text-shadow: 1px 1px 7px rgba(0,0,0,.5);
}
.jumbotron img{
    margin-top:10%;
}
#bgd_image{
    height:100%;
    width:100%;
    z-index:-1;
}
#trail{
    top:100px;
    position:absolute;
    margin-left:25%;
    margin-right:25%;
    width:50%;
    height:auto;
    background:white;
    padding:10px 30px 30px 30px;
    z-index:1;
    opacity:.95;
    border-radius: 10px;

}
#trail-info-head{
}
#trail-info-body{
    position:relative;
    height:400px;
    overflow:scroll;
}
